<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script>
        const socket = io('<%=ioServer%>')

        socket.on('welcome', () => {
            console.log('got welcome message from the io server')
        })

        socket.on('new-user', () => {
            console.log('new user joined the server')
        })
    </script>
</head>
<body>
    <form method="POST" action="/users/add-symbol">
       <input placeholder="Enter symbol name..." name="symbol"/>
       <button>Add Symbol</button> 
    </form>


    <table style="border: 1px dashed blue;">
        <% userSymbols.forEach(userSymbol => { %>
            <tr>
                <td style="border: 1px dashed blue;">
                    <%=userSymbol.symbol%>
                </td>
                <td style="border: 1px dashed blue;">
                    <%= symbolValues.find(symbolValue => symbolValue.symbol === userSymbol.symbol)?.value %>
                </td>
            </tr>

        <% }) %>
    </table>
</body>
</html>